*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

main{
	font-family: 'Roboto', sans-serif;
}

main h1{
	margin: 5vw 20vw;
}

main h3{
	margin: 2vw 20vw;
	font-size: 22px
}

main ul{
	margin: 2vw 25vw;
	font-size: 18px;
}

main li{
	list-style: initial;
}

main p{
	margin: 2vw 20vw;
	font-size: 18px;
}

main div.Photos{
	display: block;
	font-size: 0;
	line-height: 0;
}

main img{
	width: 50%;
}

.inner{
	width: 1000px;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logo{
	padding-top: 10px;
	width: 60px;
	height: 75%;
	float: left;
	padding-left: 5px;
}

header {
  overflow: hidden;
  background-color: #101010;
	font-family: 'Roboto', sans-serif;
}

header .right-header a{
  float: left;
  color: white;
  text-align: center;
  padding: 0 2vw;
  text-decoration: none;
  font-size: 18px;
  line-height: 80px;
  border-radius: 4px;
}

/* Float the link section to the right */
.right-header {
  float: right;
}


footer{
	height: 60px;
	background-color: #101010;
	font-family: 'Roboto', sans-serif;
	margin-top: 100px;
}

@media (max-width:1000px) {
	.inner{
		width: 100%;
	}
}

@media screen and (max-width:550px) {
	.center{
		width: 60px;
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.logo{
		padding-right: 300px
	}

  .right-header {
    float: none;
  }

	header .right-header a{
    /* padding-right: 550px; */
		float: none;
    display: block;
    text-align: center;
  }
}
